@charset "UTF-8";
/*! modern-normalize v1.1.0 | MIT License | https://github.com/sindresorhus/modern-normalize */
/*
Document
========
*/
/**
Use a better box model (opinionated).
*/
*,
::before,
::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/**
1. Correct the line height in all browsers.
2. Prevent adjustments of font size after orientation changes in iOS.
3. Use a more readable tab size (opinionated).
*/
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -moz-tab-size: 4;
  /* 3 */
  -o-tab-size: 4;
     tab-size: 4;
  /* 3 */
}

/*
Sections
========
*/
/**
1. Remove the margin in all browsers.
2. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
*/
body {
  margin: 0;
  /* 1 */
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  /* 2 */
}

/*
Grouping content
================
*/
/**
1. Add the correct height in Firefox.
2. Correct the inheritance of border color in Firefox. (https://bugzilla.mozilla.org/show_bug.cgi?id=190655)
*/
hr {
  height: 0;
  /* 1 */
  color: inherit;
  /* 2 */
}

/*
Text-level semantics
====================
*/
/**
Add the correct text decoration in Chrome, Edge, and Safari.
*/
abbr[title] {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

/**
Add the correct font weight in Edge and Safari.
*/
b,
strong {
  font-weight: bolder;
}

/**
1. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
2. Correct the odd 'em' font sizing in all browsers.
*/
code,
kbd,
samp,
pre {
  font-family: ui-monospace, SFMono-Regular, Consolas, 'Liberation Mono', Menlo, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
Add the correct font size in all browsers.
*/
small {
  font-size: 80%;
}

/**
Prevent 'sub' and 'sup' elements from affecting the line height in all browsers.
*/
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/*
Tabular data
============
*/
/**
1. Remove text indentation from table contents in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=999088, https://bugs.webkit.org/show_bug.cgi?id=201297)
2. Correct table border color inheritance in all Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=935729, https://bugs.webkit.org/show_bug.cgi?id=195016)
*/
table {
  text-indent: 0;
  /* 1 */
  border-color: inherit;
  /* 2 */
}

/*
Forms
=====
*/
/**
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
*/
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
Remove the inheritance of text transform in Edge and Firefox.
*/
button,
select {
  text-transform: none;
}

/**
Correct the inability to style clickable types in iOS and Safari.
*/
button,
[type='button'],
[type='reset'],
[type='submit'] {
  -webkit-appearance: button;
}

/**
Remove the inner border and padding in Firefox.
*/
::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
Restore the focus styles unset by the previous rule.
*/
:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
Remove the additional ':invalid' styles in Firefox.
See: https://github.com/mozilla/gecko-dev/blob/2f9eacd9d3d995c937b4251a5557d95d494c9be1/layout/style/res/forms.css#L728-L737
*/
:-moz-ui-invalid {
  box-shadow: none;
}

/**
Remove the padding so developers are not caught out when they zero out 'fieldset' elements in all browsers.
*/
legend {
  padding: 0;
}

/**
Add the correct vertical alignment in Chrome and Firefox.
*/
progress {
  vertical-align: baseline;
}

/**
Correct the cursor style of increment and decrement buttons in Safari.
*/
::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

/**
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/
[type='search'] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
Remove the inner padding in Chrome and Safari on macOS.
*/
::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to 'inherit' in Safari.
*/
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/*
Interactive
===========
*/
/*
Add the correct display in Chrome and Safari.
*/
summary {
  display: list-item;
}

@font-face {
  font-family: 'TradeGothocLT_Extended';
  src: url("../fonts/TradeGothicLT-Extended.woff2"), url("../fonts/TradeGothicLT-Extended.woff");
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: 'TradeGothocLT_BoldExtended';
  src: url("../fonts/TradeGothicLT-BoldExtended.woff2"), url("../fonts/TradeGothicLT-BoldExtended.woff");
  font-weight: 700;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: 'Ogg Roman';
  src: url("../fonts/Ogg Roman.woff2"), url("../fonts/Ogg Roman.woff");
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}

body {
  font-family: TradeGothocLT_BoldExtended;
  font-weight: 700;
  font-style: normal;
  background-color: #FFFFFF;
  color: #000000;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Ogg Roman;
  font-weight: 400;
  font-style: normal;
  text-align: center;
  margin: 0;
}

p,
span {
  margin: 0;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  display: block;
  height: auto;
}

.container {
  -o-text-overflow: ellipsis;
     text-overflow: ellipsis;
  overflow: hidden;
  max-width: 1024px;
  padding: 0;
  margin: 0 auto;
}

@media screen and (min-width: 320px) {
  .container {
    width: 320px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1024px) {
  .container {
    width: 1024px;
  }
}

.covid {
  padding: 8px 0;
  background-color: #F2F2F2;
}

.covid__text {
  font-weight: 400;
  font-size: 8.4px;
  line-height: 12px;
  text-align: center;
  padding: 0 55px;
}

.header__container {
  position: relative;
  padding: 8px 8px 32px 8px;
}

.header__box {
  margin-top: 10px;
}

.header__box_logo {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__box_logo_icon {
  width: 42px;
}

@media screen and (min-width: 768px) {
  .header__box_logo_icon {
    width: 67px;
  }
}

.header__box_logo_title {
  width: 181px;
}

@media screen and (min-width: 768px) {
  .header__box_logo_title {
    width: 286px;
  }
}

@media screen and (max-width: 767px) {
  .header__box_nav {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .header__box_nav {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: 20px;
  }
}

.header__box_nav_list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (min-width: 768px) {
  .header__box_nav_list_item {
    margin-right: 15px;
  }
  .header__box_nav_list_item:last-child {
    margin-right: 0;
  }
  .header__box_nav_list_item a {
    font-size: 11px;
    line-height: 13px;
    text-align: center;
    color: #000000;
  }
  .header__box_nav_list_item:hover, .header__box_nav_list_item:focus {
    background-color: #F2F2F2;
  }
}

@media screen and (min-width: 1024px) {
  .header__box_nav_list_item {
    margin-right: 25px;
  }
}

.header__icon {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -webkit-justify-content: end;
      -ms-flex-pack: end;
          justify-content: end;
}

.header__icon_button {
  padding: 0;
  border: none;
  background-color: transparent;
  margin-right: 4px;
}

.header__icon_button:last-child {
  margin-right: 0;
}

.header__icon_search {
  width: 20px;
}

@media screen and (min-width: 1024px) {
  .header__icon_search {
    width: 27px;
  }
}

.header__icon_shop {
  width: 14px;
}

@media screen and (min-width: 1024px) {
  .header__icon_shop {
    width: 19px;
  }
}

.header__icon_like {
  width: 13px;
}

@media screen and (min-width: 1024px) {
  .header__icon_like {
    width: 17px;
  }
}

.header__container_nav {
  position: relative;
}

.header__container_nav:hover > ul,
.header__container_nav:focus > ul {
  display: block;
}

.header__container_button {
  position: absolute;
  top: 8px;
  left: 8px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  border: none;
  padding: 5px 0;
  background-color: transparent;
}

@media screen and (min-width: 768px) {
  .header__container_button {
    display: none;
  }
}

.header__container_button_span {
  width: 20px;
  margin-bottom: 2px;
  border: solid 0.5px #000000;
}

.header__container_button_span:last-child {
  margin-bottom: 0;
}

.header__container_list {
  position: absolute;
  display: none;
  top: 10px;
  left: 5px;
  padding: 20px 20px;
  width: 250px;
  background-color: #F2F2F2;
}

.header__container_list_item {
  padding: 5px 0;
}

.header__container_list_item a {
  font-size: 11px;
  line-height: 13px;
  text-align: center;
  color: #000000;
}

.header__container_list_item a:hover {
  border-bottom: solid 3px #000000;
}

.hero {
  background-color: #000000;
}

.hero__container {
  padding: 30px 15px 80px 15px;
}

@media screen and (min-width: 768px) {
  .hero__container {
    padding: 40px 180px 80px 180px;
  }
}

.hero__container_title {
  font-size: 25px;
  line-height: 63px;
  color: #FFFFFF;
}

@media screen and (min-width: 768px) {
  .hero__container_title {
    font-size: 43px;
  }
}

@media screen and (min-width: 1024px) {
  .hero__container_title {
    font-size: 61px;
  }
}

.hero__container_text {
  font-weight: 400;
  font-size: 16px;
  line-height: 25px;
  text-align: center;
  color: #FFFFFF;
  margin-top: 30px;
}

@media screen and (min-width: 768px) {
  .hero__container_text {
    line-height: 27px;
  }
}

.stars__container {
  position: relative;
  padding: 50px 15px 40px 15px;
}

.stars__container_svgs {
  position: absolute;
  top: 4px;
  left: -246px;
}

@media screen and (min-width: 768px) {
  .stars__container_svgs {
    left: -69px;
  }
}

@media screen and (min-width: 1024px) {
  .stars__container_svgs {
    left: 35px;
  }
}

.stars__container_svg {
  position: absolute;
  top: 34px;
  right: -190px;
}

@media screen and (min-width: 768px) {
  .stars__container_svg {
    top: 29px;
    right: -99px;
  }
}

@media screen and (min-width: 1024px) {
  .stars__container_svg {
    right: 30px;
  }
}

.stars__container_title {
  font-size: 25px;
  line-height: 40px;
  color: #000000;
}

@media screen and (min-width: 768px) {
  .stars__container_title {
    font-size: 36px;
  }
}

.slider {
  background-color: #F4BAB5;
  height: 100%;
}

.slider__container {
  position: relative;
  padding: 40px 15px 50px 15px;
}

@media screen and (min-width: 1024px) {
  .slider__container {
    height: 518px;
  }
}

.slider__container_text {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (min-width: 1024px) {
  .slider__container_text {
    position: relative;
  }
}

.slider__container_text_title {
  font-family: 'TradeGothocLT_BoldExtended';
  font-weight: 700;
  font-size: 16px;
  line-height: 37px;
}

@media screen and (min-width: 1024px) {
  .slider__container_text_title {
    position: absolute;
    top: 110px;
    right: 210px;
    font-size: 20px;
  }
}

.slider__container_text_svg {
  margin-top: 20px;
}

@media screen and (min-width: 1024px) {
  .slider__container_text_svg {
    position: absolute;
    top: -35px;
    right: auto;
    left: -30px;
    margin-top: 0;
    width: 452px;
    height: 452px;
  }
}

.slider__container_text_info {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 9px 20px;
  border: solid 1px #000000;
  -webkit-border-radius: 8px;
          border-radius: 8px;
}

@media screen and (min-width: 1024px) {
  .slider__container_text_info {
    position: absolute;
    top: 374px;
    right: auto;
    left: 68px;
  }
}

.slider__container_text_info_point {
  display: block;
  width: 5px;
  height: 5px;
  background-color: #B3F695;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  margin-right: 30px;
}

.slider__container_text_info_text {
  font-size: 16px;
  line-height: 19px;
  text-align: center;
}

.slider__container_text_rubric_active {
  display: none;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
}

@media screen and (min-width: 1024px) {
  .slider__container_text_rubric_active {
    position: absolute;
    display: block;
    top: 226px;
    right: 109px;
    width: 410px;
  }
}

.slider__container_text_rubric {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  margin-top: 16px;
  text-align: center;
  padding: 0 20px;
}

@media screen and (min-width: 1024px) {
  .slider__container_text_rubric {
    position: absolute;
    top: 233px;
    right: 130px;
    width: 410px;
  }
}

.slider__container_text_button {
  border: none;
  padding: 5px 0;
  background-color: transparent;
  border: 1px solid #000000;
  padding: 11px 69px;
  margin-top: 20px;
  z-index: 11;
}

.slider__container_text_button:hover {
  background-color: #000000;
  color: #FFFFFF;
}

@media screen and (min-width: 1024px) {
  .slider__container_text_button {
    position: absolute;
    top: 315px;
    right: 235px;
  }
}

.slider__container_box {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-flow: row nowrap;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.slider__container_box_input {
  width: 12px;
  height: 12px;
  margin: 15px 12px;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  z-index: 10;
  border: solid 1px #000;
  outline: 5px solid #F4BAB5;
  outline-offset: -6px;
  -webkit-box-shadow: 0 0 0 0 #000, 0 0 0 0 rgba(51, 51, 51, 0);
          box-shadow: 0 0 0 0 #000, 0 0 0 0 rgba(51, 51, 51, 0);
  cursor: pointer;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}

.slider__container_box_input:checked {
  -webkit-animation: check 0.4s linear forwards;
          animation: check 0.4s linear forwards;
}

.slider__container_box_input:checked:nth-of-type(1) ~ .slider__container_box_block {
  left: -53px;
  top: -130px;
}

@media screen and (min-width: 768px) {
  .slider__container_box_input:checked:nth-of-type(1) ~ .slider__container_box_block {
    left: -128px;
    top: -102px;
  }
}

@media screen and (min-width: 1024px) {
  .slider__container_box_input:checked:nth-of-type(1) ~ .slider__container_box_block {
    left: -157px;
    top: -32px;
  }
}

.slider__container_box_input:checked:nth-of-type(2) ~ .slider__container_box_block {
  left: -480px;
  top: -130px;
}

@media screen and (min-width: 768px) {
  .slider__container_box_input:checked:nth-of-type(2) ~ .slider__container_box_block {
    left: -1151px;
    top: -101px;
  }
}

@media screen and (min-width: 1024px) {
  .slider__container_box_input:checked:nth-of-type(2) ~ .slider__container_box_block {
    left: -1551px;
    top: -31px;
  }
}

.slider__container_box_input:checked:nth-of-type(3) ~ .slider__container_box_block {
  left: -907px;
  top: -130px;
}

@media screen and (min-width: 768px) {
  .slider__container_box_input:checked:nth-of-type(3) ~ .slider__container_box_block {
    left: -2176px;
    top: -101px;
  }
}

@media screen and (min-width: 1024px) {
  .slider__container_box_input:checked:nth-of-type(3) ~ .slider__container_box_block {
    left: -2920px;
    top: -33px;
  }
}

.slider__container_box_block {
  position: absolute;
  top: 0;
  left: 0;
  width: 400%;
  height: 100%;
  -webkit-transition: left 0.4s;
  -o-transition: left 0.4s;
  transition: left 0.4s;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-flow: row nowrap;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
}

.slider__container_box_block_content {
  height: 100%;
  padding: 2rem;
  text-align: center;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-flow: column nowrap;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media screen and (min-width: 1024px) {
  .slider__container_box_block_content {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
    -webkit-flex-direction: row-reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.slider__container_box_block_content_title {
  font-size: 25px;
  line-height: 63px;
  margin-bottom: 25px;
}

@media screen and (min-width: 1024px) {
  .slider__container_box_block_content_title {
    font-size: 61px;
    margin-bottom: 0;
    margin-left: 100px;
  }
}

.slider__container_box_block_content_img {
  -webkit-border-radius: 50%;
          border-radius: 50%;
  width: 119px;
}

@media screen and (min-width: 1024px) {
  .slider__container_box_block_content_img {
    width: 215px;
  }
}

@-webkit-keyframes check {
  50% {
    outline-color: #333;
    -webkit-box-shadow: 0 0 0 12px #333, 0 0 0 36px rgba(51, 51, 51, 0.2);
            box-shadow: 0 0 0 12px #333, 0 0 0 36px rgba(51, 51, 51, 0.2);
  }
  100% {
    outline-color: #333;
    -webkit-box-shadow: 0 0 0 0 #333, 0 0 0 0 rgba(51, 51, 51, 0);
            box-shadow: 0 0 0 0 #333, 0 0 0 0 rgba(51, 51, 51, 0);
  }
}

@keyframes check {
  50% {
    outline-color: #333;
    -webkit-box-shadow: 0 0 0 12px #333, 0 0 0 36px rgba(51, 51, 51, 0.2);
            box-shadow: 0 0 0 12px #333, 0 0 0 36px rgba(51, 51, 51, 0.2);
  }
  100% {
    outline-color: #333;
    -webkit-box-shadow: 0 0 0 0 #333, 0 0 0 0 rgba(51, 51, 51, 0);
            box-shadow: 0 0 0 0 #333, 0 0 0 0 rgba(51, 51, 51, 0);
  }
}

.watch__container {
  padding: 30px 25px;
}

.watch__container_title {
  font-size: 25px;
  line-height: 30px;
  color: #000000;
}

@media screen and (min-width: 1024px) {
  .watch__container_title {
    font-size: 36px;
  }
}

.watch__container_box {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media screen and (min-width: 768px) {
  .watch__container_box {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
    padding: 0 50px;
  }
}

.watch__container_box_popovakammeyer_list {
  display: none;
}

@media screen and (min-width: 768px) {
  .watch__container_box_popovakammeyer_list {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 30px;
    margin-right: 60px;
  }
}

@media screen and (min-width: 1024px) {
  .watch__container_box_popovakammeyer_list {
    margin-top: 60px;
  }
}

.watch__container_box_popovakammeyer_list_item {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  width: 124px;
  margin-top: 30px;
}

.watch__container_box_popovakammeyer_list_item:first-child {
  margin-top: 0;
}

@media screen and (min-width: 1024px) {
  .watch__container_box_popovakammeyer_list_item {
    width: 251px;
    margin-top: 100px;
  }
}

.watch__container_box_popovakammeyer_list_item_triangle {
  position: absolute;
  z-index: 1;
  top: -36px;
  left: 0;
}

@media screen and (min-width: 1024px) {
  .watch__container_box_popovakammeyer_list_item_triangle {
    width: 179px;
    height: 163px;
  }
}

.watch__container_box_popovakammeyer_list_item_bag {
  position: absolute;
  z-index: 3;
  top: -32px;
  left: -14px;
}

@media screen and (min-width: 1024px) {
  .watch__container_box_popovakammeyer_list_item_bag {
    width: 87px;
    height: 96px;
  }
}

.watch__container_box_popovakammeyer_list_item_сombinedShape2 {
  position: absolute;
  z-index: 1;
  top: -20px;
  left: 6px;
}

@media screen and (min-width: 1024px) {
  .watch__container_box_popovakammeyer_list_item_сombinedShape2 {
    width: 200px;
    height: 200px;
    top: -47px;
    left: 15px;
  }
}

.watch__container_box_popovakammeyer_list_item_oval2 {
  position: absolute;
  z-index: 1;
  top: -16px;
  left: 0;
}

@media screen and (min-width: 1024px) {
  .watch__container_box_popovakammeyer_list_item_oval2 {
    width: 147px;
    height: 147px;
  }
}

.watch__container_box_popovakammeyer_list_item_clown {
  position: absolute;
  z-index: 3;
  top: -24px;
  left: -12px;
}

@media screen and (min-width: 1024px) {
  .watch__container_box_popovakammeyer_list_item_clown {
    width: 66px;
    height: 148px;
    top: -53px;
  }
}

.watch__container_box_popovakammeyer_list_item_polygon2 {
  position: absolute;
  z-index: 1;
  top: 2px;
  left: 0;
}

@media screen and (min-width: 1024px) {
  .watch__container_box_popovakammeyer_list_item_polygon2 {
    width: 177px;
    height: 171px;
    top: -20px;
  }
}

.watch__container_box_list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  margin-top: 30px;
}

@media screen and (min-width: 1024px) {
  .watch__container_box_list {
    margin-top: 60px;
  }
}

.watch__container_box_list_item {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-flex-basis: -webkit-calc(100% / 2 - 30px);
      -ms-flex-preferred-size: calc(100% / 2 - 30px);
          flex-basis: calc(100% / 2 - 30px);
  margin-top: 30px;
  margin-right: 60px;
}

.watch__container_box_list_item:nth-child(-n + 2) {
  margin-top: 0;
}

.watch__container_box_list_item:nth-child(2n) {
  margin-right: 0;
}

@media screen and (min-width: 1024px) {
  .watch__container_box_list_item {
    margin-top: 100px;
  }
}

.watch__container_box_list_item_combinedShape {
  position: absolute;
  z-index: 1;
  top: 8px;
  left: -6px;
}

@media screen and (min-width: 768px) {
  .watch__container_box_list_item_combinedShape {
    left: 35px;
  }
}

@media screen and (min-width: 1024px) {
  .watch__container_box_list_item_combinedShape {
    width: 223px;
    height: 112px;
    left: 15px;
  }
}

.watch__container_list_item_img {
  width: 67px;
  height: 82px;
  z-index: 2;
  border-top: solid 5px #F2F2F2;
  border-left: solid 5px #F2F2F2;
  border-right: solid 5px #F2F2F2;
  border-bottom: solid 10px #F2F2F2;
}

@media screen and (min-width: 1024px) {
  .watch__container_list_item_img {
    width: 140px;
    height: 158px;
    border-top: solid 10px #F2F2F2;
    border-left: solid 10px #F2F2F2;
    border-right: solid 10px #F2F2F2;
    border-bottom: solid 30px #F2F2F2;
  }
}

.watch__container_list_item_title {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 15px;
  font-size: 16px;
  line-height: 51px;
  height: 16px;
}

@media screen and (min-width: 1024px) {
  .watch__container_list_item_title {
    font-size: 32px;
    margin-top: 25px;
  }
}

.watch__container_box_list_item_oval {
  position: absolute;
  z-index: 1;
  top: -19px;
  right: 0;
}

@media screen and (min-width: 768px) {
  .watch__container_box_list_item_oval {
    right: 35px;
  }
}

@media screen and (min-width: 1024px) {
  .watch__container_box_list_item_oval {
    width: 148px;
    height: 148px;
    right: 10px;
  }
}

.watch__container_box_list_item_bulb {
  position: absolute;
  z-index: 3;
  top: -26px;
  right: -13px;
}

@media screen and (min-width: 768px) {
  .watch__container_box_list_item_bulb {
    right: 25px;
  }
}

@media screen and (min-width: 1024px) {
  .watch__container_box_list_item_bulb {
    width: 106px;
    height: 112px;
    right: -12px;
    top: -55px;
  }
}

.watch__container_box_list_item_star {
  position: absolute;
  z-index: 1;
  top: 8px;
  right: -25px;
}

@media screen and (min-width: 768px) {
  .watch__container_box_list_item_star {
    right: 20px;
  }
}

@media screen and (min-width: 1024px) {
  .watch__container_box_list_item_star {
    width: 171px;
    height: 171px;
    right: -30px;
  }
}

.watch__container_box_list_item_dandruff {
  position: absolute;
  z-index: 3;
  top: -13px;
  left: -20px;
}

@media screen and (min-width: 768px) {
  .watch__container_box_list_item_dandruff {
    left: 10px;
  }
}

@media screen and (min-width: 1024px) {
  .watch__container_box_list_item_dandruff {
    width: 139px;
    height: 178px;
    left: -50px;
    top: -35px;
  }
}

.watch__container_box_list_item_polygon {
  position: absolute;
  z-index: 1;
  top: -15px;
  right: 0;
}

@media screen and (min-width: 768px) {
  .watch__container_box_list_item_polygon {
    right: 45px;
  }
}

@media screen and (min-width: 1024px) {
  .watch__container_box_list_item_polygon {
    width: 177px;
    height: 171px;
    right: 10px;
    top: -35px;
  }
}

.watch__container_box_list_item_combinedShape3 {
  position: absolute;
  z-index: 1;
  top: -20px;
  left: -6px;
}

@media screen and (min-width: 768px) {
  .watch__container_box_list_item_combinedShape3 {
    left: 35px;
  }
}

@media screen and (min-width: 1024px) {
  .watch__container_box_list_item_combinedShape3 {
    width: 200px;
    height: 200px;
    left: 15px;
    top: -50px;
  }
}

.watch__container_box_list_item_star2 {
  position: absolute;
  z-index: 1;
  top: -40px;
  right: -25px;
}

@media screen and (min-width: 768px) {
  .watch__container_box_list_item_star2 {
    right: 15px;
  }
}

@media screen and (min-width: 1024px) {
  .watch__container_box_list_item_star2 {
    width: 171px;
    height: 171px;
    right: -25px;
    top: -60px;
  }
}

.watch__container_box_list_item_combinedShape4 {
  position: absolute;
  z-index: 1;
  top: 10px;
  left: -5px;
}

@media screen and (min-width: 768px) {
  .watch__container_box_list_item_combinedShape4 {
    left: 35px;
  }
}

@media screen and (min-width: 1024px) {
  .watch__container_box_list_item_combinedShape4 {
    width: 223px;
    height: 112px;
    left: 20px;
  }
}

.watch__container_box_list_item_tent {
  position: absolute;
  z-index: 3;
  top: -20px;
  right: -23px;
}

@media screen and (min-width: 768px) {
  .watch__container_box_list_item_tent {
    right: 20px;
  }
}

@media screen and (min-width: 1024px) {
  .watch__container_box_list_item_tent {
    width: 123px;
    height: 110px;
    right: -25px;
    top: -45px;
  }
}

.watch__container_box_list_item_triangle2 {
  position: absolute;
  z-index: 1;
  top: -25px;
  right: -15px;
}

@media screen and (min-width: 768px) {
  .watch__container_box_list_item_triangle2 {
    right: 25px;
  }
}

@media screen and (min-width: 1024px) {
  .watch__container_box_list_item_triangle2 {
    width: 179px;
    height: 163px;
    right: -15px;
    top: -40px;
  }
}

.watch__container_box_list_copy {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  margin-top: 30px;
}

@media screen and (min-width: 768px) {
  .watch__container_box_list_copy {
    display: none;
  }
}

.footer {
  background-color: #F2F2F2;
}

.footer__container {
  padding-top: 34px;
  padding-bottom: 60px;
}

@media screen and (min-width: 1024px) {
  .footer__container {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
    -webkit-flex-direction: row-reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 80px 62px;
  }
}

.footer__container_block {
  padding: 0 25px;
}

@media screen and (min-width: 768px) {
  .footer__container_block {
    padding: 0 120px;
  }
}

@media screen and (min-width: 1024px) {
  .footer__container_block {
    padding: 0;
    width: 255px;
  }
}

.footer__container_block_text {
  font-size: 12px;
  line-height: 18px;
}

@media screen and (min-width: 1024px) {
  .footer__container_block_text {
    font-size: 11px;
  }
}

.footer__container_block_form {
  position: relative;
  margin-top: 10px;
  border-bottom: solid 1px #000000;
}

.footer__container_block_form_input {
  font-size: 12px;
  line-height: 18px;
  color: #9F9C9C;
  width: 100%;
  padding: 5px 0;
  background: none;
  border: none;
}

@media screen and (min-width: 1024px) {
  .footer__container_block_form_input {
    font-size: 11px;
  }
}

.footer__container_block_form_button {
  position: absolute;
  border: none;
  background-color: transparent;
  top: 3px;
  right: 0;
  cursor: pointer;
}

.footer__container_box {
  margin-top: 35px;
}

@media screen and (min-width: 768px) {
  .footer__container_box {
    padding: 0 120px;
  }
}

@media screen and (min-width: 1024px) {
  .footer__container_box {
    margin-top: 0;
    padding: 0;
  }
}

.footer__container_box_list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media screen and (min-width: 1024px) {
  .footer__container_box_list {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.footer__container_box_list_item {
  position: relative;
  border-top: solid 1px #000000;
  padding: 10px 25px;
}

.footer__container_box_list_item > a {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 11px;
  line-height: 17px;
  color: #000000;
}

@media screen and (min-width: 1024px) {
  .footer__container_box_list_item > a:hover, .footer__container_box_list_item > a:focus {
    background-color: #d3d3d3;
  }
}

.footer__container_box_list_item:hover, .footer__container_box_list_item:focus {
  background-color: #d3d3d3;
}

@media screen and (min-width: 1024px) {
  .footer__container_box_list_item:hover, .footer__container_box_list_item:focus {
    background: none;
  }
}

.footer__container_box_list_item:hover > ul,
.footer__container_box_list_item:focus > ul {
  display: block;
}

.footer__container_box_list_item:last-child {
  display: none;
}

@media screen and (min-width: 1024px) {
  .footer__container_box_list_item:last-child {
    display: block;
  }
}

@media screen and (min-width: 1024px) {
  .footer__container_box_list_item {
    border-top: none;
    padding: 0;
    margin-right: 45px;
  }
  .footer__container_box_list_item:last-child {
    margin-right: 0;
  }
}

.footer__container_box_list_item_list {
  position: absolute;
  min-width: 270px;
  display: none;
  background: #d3d3d3;
  z-index: 1;
}

.footer__container_box_list_item_list a {
  font-size: 11px;
  line-height: 17px;
  color: #000000;
  padding-left: 10px;
}

@media screen and (min-width: 1024px) {
  .footer__container_box_list_item_list a {
    padding-left: 0;
  }
  .footer__container_box_list_item_list a:hover, .footer__container_box_list_item_list a:focus {
    background-color: #d3d3d3;
  }
}

@media screen and (min-width: 1024px) {
  .footer__container_box_list_item_list {
    position: relative;
    display: block;
    background: none;
    min-width: -webkit-max-content;
    min-width: -moz-max-content;
    min-width: max-content;
  }
}

.footer__container_box_list_block {
  border-top: solid 1px #000000;
  padding: 10px 25px;
}

@media screen and (min-width: 1024px) {
  .footer__container_box_list_block {
    display: none;
  }
}

.footer__container_box_list_block_social {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer__container_box_list_block_social_item {
  margin-left: 10px;
}

.footer__container_box_list_block_social_item:first-child {
  margin-left: 0;
}

@media screen and (min-width: 1024px) {
  .plus {
    display: none;
  }
}
/*# sourceMappingURL=body.css.map */