/*! modern-normalize v1.1.0 | MIT License | https://github.com/sindresorhus/modern-normalize */
/*
Document
========
*/
/**
Use a better box model (opinionated).
*/
*,
::before,
::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/**
1. Correct the line height in all browsers.
2. Prevent adjustments of font size after orientation changes in iOS.
3. Use a more readable tab size (opinionated).
*/
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -moz-tab-size: 4;
  /* 3 */
  -o-tab-size: 4;
     tab-size: 4;
  /* 3 */
}

/*
Sections
========
*/
/**
1. Remove the margin in all browsers.
2. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
*/
body {
  margin: 0;
  /* 1 */
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  /* 2 */
}

/*
Grouping content
================
*/
/**
1. Add the correct height in Firefox.
2. Correct the inheritance of border color in Firefox. (https://bugzilla.mozilla.org/show_bug.cgi?id=190655)
*/
hr {
  height: 0;
  /* 1 */
  color: inherit;
  /* 2 */
}

/*
Text-level semantics
====================
*/
/**
Add the correct text decoration in Chrome, Edge, and Safari.
*/
abbr[title] {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

/**
Add the correct font weight in Edge and Safari.
*/
b,
strong {
  font-weight: bolder;
}

/**
1. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
2. Correct the odd 'em' font sizing in all browsers.
*/
code,
kbd,
samp,
pre {
  font-family: ui-monospace, SFMono-Regular, Consolas, 'Liberation Mono', Menlo, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
Add the correct font size in all browsers.
*/
small {
  font-size: 80%;
}

/**
Prevent 'sub' and 'sup' elements from affecting the line height in all browsers.
*/
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/*
Tabular data
============
*/
/**
1. Remove text indentation from table contents in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=999088, https://bugs.webkit.org/show_bug.cgi?id=201297)
2. Correct table border color inheritance in all Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=935729, https://bugs.webkit.org/show_bug.cgi?id=195016)
*/
table {
  text-indent: 0;
  /* 1 */
  border-color: inherit;
  /* 2 */
}

/*
Forms
=====
*/
/**
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
*/
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
Remove the inheritance of text transform in Edge and Firefox.
*/
button,
select {
  text-transform: none;
}

/**
Correct the inability to style clickable types in iOS and Safari.
*/
button,
[type='button'],
[type='reset'],
[type='submit'] {
  -webkit-appearance: button;
}

/**
Remove the inner border and padding in Firefox.
*/
::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
Restore the focus styles unset by the previous rule.
*/
:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
Remove the additional ':invalid' styles in Firefox.
See: https://github.com/mozilla/gecko-dev/blob/2f9eacd9d3d995c937b4251a5557d95d494c9be1/layout/style/res/forms.css#L728-L737
*/
:-moz-ui-invalid {
  box-shadow: none;
}

/**
Remove the padding so developers are not caught out when they zero out 'fieldset' elements in all browsers.
*/
legend {
  padding: 0;
}

/**
Add the correct vertical alignment in Chrome and Firefox.
*/
progress {
  vertical-align: baseline;
}

/**
Correct the cursor style of increment and decrement buttons in Safari.
*/
::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

/**
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/
[type='search'] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
Remove the inner padding in Chrome and Safari on macOS.
*/
::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to 'inherit' in Safari.
*/
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/*
Interactive
===========
*/
/*
Add the correct display in Chrome and Safari.
*/
summary {
  display: list-item;
}

@font-face {
  font-family: 'TradeGothocLT_Extended';
  src: url("../fonts/TradeGothicLT-Extended.woff2"), url("../fonts/TradeGothicLT-Extended.woff");
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: 'TradeGothocLT_BoldExtended';
  src: url("../fonts/TradeGothicLT-BoldExtended.woff2"), url("../fonts/TradeGothicLT-BoldExtended.woff");
  font-weight: 700;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: 'Ogg Roman';
  src: url("../fonts/Ogg Roman.woff2"), url("../fonts/Ogg Roman.woff");
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}

body {
  font-family: TradeGothocLT_BoldExtended;
  font-weight: 700;
  font-style: normal;
  background-color: #ffffff;
  color: #000000;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Ogg Roman;
  font-weight: 400;
  font-style: normal;
  text-align: center;
  margin: 0;
}

p,
span {
  margin: 0;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
  display: block;
  height: auto;
}

.container {
  max-width: 1024px;
  padding: 0;
  margin: 0 auto;
}

@media screen and (min-width: 320px) {
  .container {
    width: 320px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1024px) {
  .container {
    width: 1024px;
  }
}

.covid {
  padding: 8px 0;
  background-color: #F2F2F2;
}

.covid__text {
  font-weight: 400;
  font-size: 8.4px;
  line-height: 12px;
  text-align: center;
  padding: 0 55px;
}

.header__container {
  position: relative;
  padding: 8px 8px 32px 8px;
}

.header__box {
  margin-top: 10px;
}

.header__box_logo {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__box_logo_icon {
  width: 42px;
}

.header__box_logo_title {
  width: 181px;
}

@media screen and (max-width: 767px) {
  .header__box_nav {
    display: none;
  }
}

.header__icon {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -webkit-justify-content: end;
      -ms-flex-pack: end;
          justify-content: end;
}

.header__icon_button {
  padding: 0;
  border: none;
  background-color: transparent;
  margin-right: 4px;
}

.header__icon_button:last-child {
  margin-right: 0;
}

.header__icon_search {
  width: 20px;
}

.header__icon_shop {
  width: 14px;
}

.header__icon_like {
  width: 13px;
}

.menu-toggle {
  display: none;
  position: absolute;
  border: none;
  padding: 0;
  background-color: transparent;
}

.button {
  position: absolute;
  top: 8px;
  left: 8px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  border: none;
  padding: 5px 0;
  background-color: transparent;
}

.button_span {
  width: 20px;
  margin-bottom: 2px;
  border: solid 0.5px #000;
}

.button_span:last-child {
  margin-bottom: 0;
}

.hero {
  background-color: #000000;
}

.hero__container {
  padding: 30px 15px 80px 15px;
}

.hero__container_title {
  font-size: 25px;
  line-height: 63px;
  color: #FFFFFF;
}

.hero__container_text {
  font-weight: 400;
  font-size: 16px;
  line-height: 25px;
  text-align: center;
  color: #FFFFFF;
}

.stars__container {
  position: relative;
  padding: 50px 15px 40px 15px;
}

.stars__container_svgs {
  position: absolute;
  top: 25px;
  left: -52px;
}

.stars__container_svg {
  position: absolute;
  top: 54px;
  right: -190px;
}

.stars__container_title {
  font-size: 25px;
  line-height: 40px;
  color: #000000;
}

.slider {
  background-color: #F4BAB5;
}

.slider__container {
  position: relative;
  padding: 30px 15px 11px 15px;
}

.slider__container_photo {
  position: absolute;
  top: 60px;
  left: 39px;
}

.slider__container_photo_box {
  position: absolute;
}

.slider__container_photo_box_svg {
  margin: 0 auto;
}

.slider__container_photo_box_img {
  position: absolute;
  top: 63px;
  left: 64px;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  width: 119px;
}

.slider__container_photo_info {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 9px 20px;
  border: solid 1px #000;
  -webkit-border-radius: 8px;
          border-radius: 8px;
  margin-top: 240px;
}

.slider__container_photo_info_point {
  display: block;
  width: 5px;
  height: 5px;
  background-color: #B3F695;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  margin-right: 30px;
}

.slider__container_photo_info_text {
  font-size: 16px;
  line-height: 19px;
  text-align: center;
}

.slider__container_text {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.slider__container_text_title {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  height: 16px;
  font-size: 16px;
  line-height: 37px;
  text-align: center;
}

.slider__container_text_name {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 25px;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 25px;
  line-height: 63px;
  margin-top: 15px;
}

.slider__container_text_rubric {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  margin-top: 280px;
  text-align: center;
  padding: 0 20px;
}

.slider__container_text_button {
  border: none;
  padding: 5px 0;
  background-color: transparent;
  border: 1px solid #000000;
  padding: 11px 69px;
  margin-top: 20px;
}

.slider__container_text_button:hover {
  background-color: #000000;
  color: #ffffff;
}

.slider__container_tack {
  margin-top: 29px;
}

.slider__container_tack_block {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.slider__container_tack_block_item {
  width: 9px;
  height: 9px;
  border: solid 1px #000;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  margin-right: 4px;
}

.slider__container_tack_block_item:last-child {
  margin-right: 0;
}

.watch__container {
  padding: 30px 25px;
}

.watch__container_title {
  font-size: 25px;
  line-height: 30px;
  color: #000000;
}

.watch__container_box {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
}

.watch__container_box_popovakammeyer_list {
  display: none;
}

.watch__container_box_list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  margin-top: 30px;
}

.watch__container_box_list_item {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-flex-basis: -webkit-calc(100% / 2 - 30px);
      -ms-flex-preferred-size: calc(100% / 2 - 30px);
          flex-basis: calc(100% / 2 - 30px);
  margin-top: 30px;
  margin-right: 60px;
}

.watch__container_box_list_item:nth-child(-n + 2) {
  margin-top: 0;
}

.watch__container_box_list_item:nth-child(2n) {
  margin-right: 0;
}

.watch__container_box_list_item_combinedShape {
  position: absolute;
  z-index: 1;
  top: 8px;
  left: -6px;
}

.watch__container_list_item_img {
  width: 67px;
  z-index: 2;
  border-top: solid 5px #f2f2f2;
  border-left: solid 5px #f2f2f2;
  border-right: solid 5px #f2f2f2;
  border-bottom: solid 10px #f2f2f2;
}

.watch__container_list_item_title {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 15px;
  font-size: 16px;
  line-height: 51px;
  height: 16px;
}

.watch__container_box_list_item_oval {
  position: absolute;
  z-index: 1;
  top: -19px;
  right: 0;
}

.watch__container_box_list_item_bulb {
  position: absolute;
  z-index: 3;
  top: -26px;
  right: -13px;
}

.watch__container_box_list_item_star {
  position: absolute;
  z-index: 1;
  top: 8px;
  right: -25px;
}

.watch__container_box_list_item_dandruff {
  position: absolute;
  z-index: 3;
  top: -13px;
  left: -20px;
}

.watch__container_box_list_item_polygon {
  position: absolute;
  z-index: 1;
  top: -15px;
  right: 0;
}

.watch__container_box_list_item_combinedShape3 {
  position: absolute;
  z-index: 1;
  top: -20px;
  left: -6px;
}

.watch__container_box_list_item_star2 {
  position: absolute;
  z-index: 1;
  top: -40px;
  right: -25px;
}

.watch__container_box_list_item_combinedShape4 {
  position: absolute;
  z-index: 1;
  top: 10px;
  left: -5px;
}

.watch__container_box_list_item_tent {
  position: absolute;
  z-index: 3;
  top: -20px;
  right: -23px;
}

.watch__container_box_list_item_triangle2 {
  position: absolute;
  z-index: 1;
  top: -25px;
  right: -15px;
}

.watch__container_box_list_copy {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  margin-top: 30px;
}

.footer {
  background-color: #F2F2F2;
}

.footer__container {
  padding-top: 34px;
  padding-bottom: 60px;
}

.footer__container_block {
  padding: 0 25px;
}

.footer__container_block_text {
  font-size: 12px;
  line-height: 18px;
}

.footer__container_block_form {
  position: relative;
  margin-top: 10px;
  border-bottom: solid 1px #000000;
}

.footer__container_block_form_input {
  font-size: 12px;
  line-height: 18px;
  color: #9F9C9C;
  width: 100%;
  padding: 5px 0;
  background: none;
  border: none;
}

.footer__container_block_form_button {
  position: absolute;
  border: none;
  background-color: transparent;
  top: 3px;
  right: 0;
  cursor: pointer;
}
/*# sourceMappingURL=body.css.map */