// .watch {
//    padding: 30px 0; 
// }
.watch__container {
    padding: 30px 25px;
}

.watch__container_title {
    font-size: 25px;
    line-height: 30px;
    color: #000000;
}

.watch__container_box {
    display: flex;
    flex-direction: column;
}
.watch__container_box_popovakammeyer_list {
    display: none;
}
/////////

.watch__container_box_list {
    display: flex;
    flex-wrap: wrap;
    margin-top: 30px;
}
.watch__container_box_list_item {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-basis: calc(100% / 2 - 30px);
    margin-top: 30px;
    margin-right: 60px;
    &:nth-child(-n + 2) {
        margin-top: 0;
    }
    &:nth-child(2n) {
        margin-right: 0;
    }
}
.watch__container_box_list_item_combinedShape {
    position: absolute;
    z-index: 1;
    top: 8px;
    left: -6px;
}
.watch__container_list_item_img {
    width: 67px;
    z-index: 2;
    border-top: solid 5px #f2f2f2;
    border-left: solid 5px #f2f2f2;
    border-right: solid 5px #f2f2f2;
    border-bottom: solid 10px #f2f2f2;
}
.watch__container_list_item_title {
    display: flex;
    align-items: center;
    margin-top: 15px;
    font-size: 16px;
    line-height: 51px;
    height: 16px;
}
.watch__container_box_list_item_oval {
    position: absolute;
    z-index: 1;
    top: -19px;
    right: 0;
}
.watch__container_box_list_item_bulb {
    position: absolute;
    z-index: 3;
    top: -26px;
    right: -13px;
}
.watch__container_box_list_item_star {
    position: absolute;
    z-index: 1;
    top: 8px;
    right: -25px;
}
.watch__container_box_list_item_dandruff {
    position: absolute;
    z-index: 3;
    top: -13px;
    left: -20px;
}
.watch__container_box_list_item_polygon {
    position: absolute;
    z-index: 1;
    top: -15px;
    right: 0;
}
.watch__container_box_list_item_combinedShape3 {
    position: absolute;
    z-index: 1;
    top: -20px;
    left: -6px;
}
.watch__container_box_list_item_star2 {
    position: absolute;
    z-index: 1;
    top: -40px;
    right: -25px;
}
.watch__container_box_list_item_combinedShape4 {
    position: absolute;
    z-index: 1;
    top: 10px;
    left: -5px;
}
.watch__container_box_list_item_tent {
    position: absolute;
    z-index: 3;
    top: -20px;
    right: -23px;
}
.watch__container_box_list_item_triangle2 {
    position: absolute;
    z-index: 1;
    top: -25px;
    right: -15px;
}
.watch__container_box_list_copy {
    display: flex;
    flex-wrap: wrap;
    margin-top: 30px;
}

// .watch__container_list_item_title {

// }
// .watch__container_list {
//     display: flex;
//     flex-direction: column;
//     flex-wrap: wrap;
//     margin-top: -30px;
//     margin-left: -30px;
// }
// .watch__container_list_item {
//     position: relative;
//     display: flex;
//     flex-direction: column;
//     flex-basis: calc(100% / 2 - 30px);
//     align-items: center;
//     &:nth-child(3n + 1) {
//         display: none;
//     }
// }
// .watch__container_list_item_triangle {
//     position: absolute;
// }
// .watch__container_list_item_bag {
//     position: absolute;
// }
// .watch__container_list_item_img {
//     border-top: solid 5px #f2f2f2;
//     border-left: solid 5px #f2f2f2;
//     border-right: solid 5px #f2f2f2;
//     border-bottom: solid 10px #f2f2f2;
//     width: 67px;
// }