.stars__container {
    position: relative;
    padding: 50px 15px 40px 15px;
}

.stars__container_svgs {
    position: absolute;
    top: 25px;
    left: -52px;
}

.stars__container_svg {
    position: absolute;
    top: 54px;
    right: -190px;
}

.stars__container_title {
    font-size: 25px;
    line-height: 40px;
    color: #000000;
}