.stars__container {
    position: relative;
    padding: 50px 15px 40px 15px;
}

.stars__container_svgs {
    position: absolute;
    top: 4px;
    left: -246px;
    @media screen and (min-width: 768px) {
        left: -69px;       
    }
    @media screen and (min-width: 1024px) {
        left: 35px;       
    }
}

.stars__container_svg {
    position: absolute;
    top: 34px;
    right: -190px;
    @media screen and (min-width: 768px) {
        top: 29px;
        right: -99px;      
    }
    @media screen and (min-width: 1024px) {
        right: 30px;      
    }
}

.stars__container_title {
    font-size: 25px;
    line-height: 40px;
    color: $primary-text-color;
    @media screen and (min-width: 768px) {
        font-size: 36px;        
    }
}