.footer__container_block {
    padding: 0 25px;
    @media screen and (min-width: 768px) {
        padding: 0 120px;
    }
    @media screen and (min-width: 1024px) {
        padding: 0;
        width: 255px;
    }
}
.footer__container_block_text {
    font-size: 12px;
    line-height: 18px;
    @media screen and (min-width: 1024px) {
        font-size: 11px;
    }
}
.footer__container_block_form {
    position: relative;
    margin-top: 10px;
    border-bottom: solid 1px $extra-color;
}
.footer__container_block_form_input {
    font-size: 12px;
    line-height: 18px;
    color: $text-color-input;
    width: 100%;
    padding: 5px 0;
    background: none;
    border: none;
    @media screen and (min-width: 1024px) {
        font-size: 11px;
    }
}
.footer__container_block_form_button {
    position: absolute;
    border: none;
    background-color: transparent;
    top: 3px;
    right: 0;
    cursor: pointer;
}