.header__container_nav {
    position: relative;
    &:hover > ul,
    &:focus > ul {
        display: block;
    }
}
.header__container_button {
    position: absolute;
    top: 8px;
    left: 8px;
    display: flex;
    flex-direction: column;
    border: none;
    padding: 5px 0;
    background-color: transparent;
    @media screen and (min-width: 768px) {
        display: none;
    }
}
.header__container_button_span {
    width: 20px;
    margin-bottom: 2px;
    border: solid 0.5px $extra-color;
    &:last-child {
        margin-bottom: 0;
    }
}

.header__container_list {
    position: absolute;
    z-index: 5;
    display: none;
    top: 10px;
    left: 5px;
    padding: 20px 20px;
    width: 250px;
    background-color: $secondary-bg-color;
}
.header__container_list_item {
    padding: 5px 0;
    & a {
        font-size: 11px;
        line-height: 13px;
        text-align: center;
        color: $primary-text-color; 
        &:hover {
            border-bottom: solid 3px $extra-color;
        } 
    }
}