$primary-text-color: #000000;
$secondary-text-color: #FFFFFF;
$primary-bg-color: #FFFFFF;
$secondary-bg-color: #F2F2F2;
$text-color-input: #9F9C9C;
$extra-color: #000000;
$extra-bg-color: #d3d3d3;
$slider-bg-color: #F4BAB5;
$point-bg-color: #B3F695;